@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Ubuntu:wght@300&display=swap');
html * {
  font-family: 'Ubuntu', sans-serif;
  
}

#icon {
  width: 200px;
  height: 200px;
}

.two {
  margin: 10px;
  width: 50px;
  height: 50px;
}
#link {
  margin: 30px;
  color: black;
}

#logo {
  margin-right: 1vw;
  width: 3vw;
  height: 3vw;
}

footer {
  height: 4vh;
  width: auto;
  text-align: center;
  background: #C4C4C4; 
  }


  /* Mobile Styles */
@media (max-width: 476px) {
  img {
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
  }
  }

  /* Tablet Styles */
  @media (min-width: 477px) and (max-width: 960px) {
    img {
      width: 300px;
      height: 300px;
      margin-left: 2%;
      margin-bottom: 10%;
    }
  }
  

  /* Desktop Styles */
  @media (min-width: 961px) {
  img {
    width: 200px;
    height: 200px;
    margin-left: 2%;
    margin-bottom: 10%;
  }
  }
